@use 'variables' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-family: $font-family;
	@include transition(background-image, 3000ms);
	background-size: cover;
}

.preload {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	height: 100vh;
	@include respond(small) {
		padding: 8vw;
		gap: 3rem;
		align-items: center;
		header {
			text-align: center;
			h1 {
				margin: 0 0 3rem;
			}
		}
	}
	padding: 3.5rem;
	color: $primary;
	background-color: rgba(0, 0, 0, 0.4);
	header {
		margin-top: 25vh;
		h1 {
			font-size: calc(3rem + 0.75vw);
			margin: 0 0 2rem;
		}

		p {
			font-size: 1.25rem;
		}
	}
	nav {
		display: flex;
		align-items: center;
		@include respond(small) {
			gap: 8vw;
			svg {
				width: 8vw;
				height: 8vw;
				font-size: 8vw;
			}
		}
		gap: 3rem;
		svg {
			width: 3rem;
			height: 3rem;
			font-size: 3rem;
			path {
				fill: $primary;
				@include transition();
			}
		}

		svg:hover {
			cursor: pointer;
		}

		svg:hover path {
			fill: $secondary;
		}
	}
	footer {
		font-size: 1rem;
		margin-top: auto;
		a {
			color: $primary;
			@include transition();
		}

		a:hover {
			color: $secondary;
		}
	}
}
