@use 'variables' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	min-height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-family: $font-family;
	transition: background-image 3000ms linear;
	background-size: cover;
	background-color: #000;
	background-image: url('../img/bg01.jpg');
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url('../img/bg06.jpg') url('../img/bg05.jpg') url('../img/bg04.jpg') url('../img/bg03.jpg')
		url('../img/bg02.jpg') url('../img/bg01.jpg');
}

.preload {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-between;
	height: 100vh;
	@include respond(small) {
		padding: 8vw;
		gap: 3rem;

		header {
			h1 {
				margin: 0 0 3rem;
			}
		}
	}
	padding: 2rem 3rem;
	color: $primary;
	background-color: rgba(0, 0, 0, 0.4);

	main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;

		h1 {
			font-size: clamp(2.5rem, 5vw, 5rem);
		}

		p {
			font-size: 1.25rem;
		}

		.btn {
			border-radius: 0.5rem;
			padding: 1rem 2rem;
			text-decoration: none;
			background-color: $secondary-lt;
			color: $primary;
			font-family: $font-family;
			margin: 1rem 0;
			@include transition();
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
		}

		.btn:hover {
			background-color: $secondary-dk;
		}

		nav {
			display: flex;
			align-items: flex-start;

			gap: 3rem;
			svg {
				width: 3rem;
				height: 3rem;
				font-size: 3rem;
				path {
					fill: $primary;
					@include transition();
				}
			}

			svg:hover {
				cursor: pointer;
			}

			svg:hover path {
				fill: $secondary;
			}
			@include respond(small) {
				gap: 8vw;

				svg {
					width: 6vw;
					height: 6vw;
					font-size: 6vw;
				}
			}
		}
	}

	.header-nav {
		ul {
			list-style-type: none;
			display: flex;
			gap: 2rem;
			padding: 0;

			a {
				color: $primary;
				text-decoration: none;
				@include transition();
			}

			a:hover {
				color: $secondary;
			}
		}
	}

	footer {
		font-size: 1rem;

		color: $primary;
		a {
			color: $primary;
			@include transition();
		}

		a:hover {
			color: $secondary;
		}
	}
}

.post-preview {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-radius: 0.5rem;
	.overlay {
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		padding: 2rem;
		justify-content: center;
	}
	.featured {
		position: absolute;
		width: 100%;
		inset: 0;
		object-fit: cover;
		z-index: -1;
		opacity: 0.7;
	}

	h2 {
		width: 100%;
		font-size: 2.5rem;
	}

	a {
		color: $primary;
		text-decoration: none;
		@include transition();
	}

	a:hover {
		color: $secondary;
	}

	.author {
		display: flex;
		gap: 1rem;
		padding: 0.5rem 0;
		border-radius: 1rem;
		img {
			border-radius: 10px;
		}
	}
}
