@use './variables' as *;
@use './mixins' as *;

.post {
	width: 100%;
	margin: 1rem 0 3rem;
	padding: 0.5rem 2rem 2rem;
	background-color: $light;
	color: $dark;
	border-radius: 0.5rem;

	@include respond(small) {
		font-size: 16px;
		padding: 0.5rem 1rem 1rem;
	}
}

hr {
	background-color: transparent;
	border-top: 1px solid $lavender;
	border-bottom: none;
	margin-top: 0.5rem;
}

.post img {
	max-width: 80%;
	object-fit: contain;
	display: block;
	margin: 1rem auto;
	border-radius: 0.5rem;
}

.project-image {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.5rem;
	width: 100%;
	height: 300px;
	background-size: cover;
}

h2 {
	margin: 1.5rem 0;
	width: 100%;
	border-bottom: 1px solid $lavender;
}

a {
	color: $dark-blue;
	transition: color 250ms;
	&:hover {
		color: $secondary;
	}
}

p {
	margin: 1rem 0;
}

pre {
	margin: 1.5rem auto;
	padding: 0;
	width: 80%;
	border-radius: 0.5rem;
	overflow: auto;

	div {
		margin: 0 !important;

		&::-webkit-scrollbar-track {
			background-color: $dark;
		}

		&::-webkit-scrollbar {
			height: 5px;
			background-color: $dark;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $light-pink;
		}

		@include respond(small) {
			padding: 1rem;
			font-size: 0.75rem;
			width: 95%;
		}
	}
}

table {
	width: fit-content;
	max-width: 100%;
	margin: 1rem auto 1rem;
	background-color: rgba(180, 175, 220, 0.3);
	border-spacing: 0;
	border-radius: 0.5rem;
	border: 2px solid $lavender;
	box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

	thead {
		display: none;
	}

	tbody {
		tr:nth-of-type(odd) {
			background-color: $lavender;

			td {
				padding: 0.5rem 1rem;
			}
		}

		.table-img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			margin: 0 auto;
			border-radius: 0;
		}
	}
}
